@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
    --modal-duration: 1s;
    --primary-color: #30336b;
    --secondary-color: #be2edd;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

nav {
    background-color: var(--primary-color);
    border: 2px solid rgba(200, 200, 200, 0.1);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    z-index: 100;
    /* transform: translateX(-100%); */
}